/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
    min-width: 1200px;
}

/* `Containers
----------------------------------------------------------------------------------------------------*/

.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
    position: relative;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1 {
    width: 80px;
}

.container_12 .grid_2 {
    width: 180px;
}

.container_12 .grid_3 {
    width: 280px;
}

.container_12 .grid_4 {
    width: 380px;
}

.container_12 .grid_5 {
    width: 480px;
}

.container_12 .grid_6 {
    width: 580px;
}

.container_12 .grid_7 {
    width: 680px;
}

.container_12 .grid_8 {
    width: 780px;
}

.container_12 .grid_9 {
    width: 880px;
}

.container_12 .grid_10 {
    width: 980px;
}

.container_12 .grid_11 {
    width: 1080px;
}

.container_12 .grid_12 {
    width: 1180px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
    padding-left: 100px;
}

.container_12 .prefix_2 {
    padding-left: 200px;
}

.container_12 .prefix_3 {
    padding-left: 300px;
}

.container_12 .prefix_4 {
    padding-left: 400px;
}

.container_12 .prefix_5 {
    padding-left: 500px;
}

.container_12 .prefix_6 {
    padding-left: 600px;
}

.container_12 .prefix_7 {
    padding-left: 700px;
}

.container_12 .prefix_8 {
    padding-left: 800px;
}

.container_12 .prefix_9 {
    padding-left: 900px;
}

.container_12 .prefix_10 {
    padding-left: 1000px;
}

.container_12 .prefix_11 {
    padding-left: 1100px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
    padding-right: 100px;
}

.container_12 .suffix_2 {
    padding-right: 200px;
}

.container_12 .suffix_3 {
    padding-right: 300px;
}

.container_12 .suffix_4 {
    padding-right: 400px;
}

.container_12 .suffix_5 {
    padding-right: 500px;
}

.container_12 .suffix_6 {
    padding-right: 600px;
}

.container_12 .suffix_7 {
    padding-right: 700px;
}

.container_12 .suffix_8 {
    padding-right: 800px;
}

.container_12 .suffix_9 {
    padding-right: 900px;
}

.container_12 .suffix_10 {
    padding-right: 1000px;
}

.container_12 .suffix_11 {
    padding-right: 1100px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .push_1 {
    left: 100px;
}

.container_12 .push_2 {
    left: 200px;
}

.container_12 .push_3 {
    left: 300px;
}

.container_12 .push_4 {
    left: 400px;
}

.container_12 .push_5 {
    left: 500px;
}

.container_12 .push_6 {
    left: 600px;
}

.container_12 .push_7 {
    left: 700px;
}

.container_12 .push_8 {
    left: 800px;
}

.container_12 .push_9 {
    left: 900px;
}

.container_12 .push_10 {
    left: 1000px;
}

.container_12 .push_11 {
    left: 1100px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_1 {
    left: -100px;
}

.container_12 .pull_2 {
    left: -200px;
}

.container_12 .pull_3 {
    left: -300px;
}

.container_12 .pull_4 {
    left: -400px;
}

.container_12 .pull_5 {
    left: -500px;
}

.container_12 .pull_6 {
    left: -600px;
}

.container_12 .pull_7 {
    left: -700px;
}

.container_12 .pull_8 {
    left: -800px;
}

.container_12 .pull_9 {
    left: -900px;
}

.container_12 .pull_10 {
    left: -1000px;
}

.container_12 .pull_11 {
    left: -1100px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.clearfix:after,
.container_12:after {
    clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12 {
    zoom: 1;
}

article.toppaneltwologo {
    background: #000 none repeat scroll 0 0;
    float: left;
    height: 70px;
    text-align: center;
    width: 200px;
}

img.logotypetwo {
    width: 140px;
    padding-top: 25px;
}

nav.navtwo {
    width: 850px;
    background: #000;
    height: 70px;
    float: left;
}

/*
    Ext-menu
*/

ul.nav-child.unstyled.small {
}

ul.nav-child.unstyled.small {
    /*background: #000!important;*/
    background: #000 none repeat scroll 0 0;
    border: 1px solid #e77300;
}

.child-2 > .nav-child.unstyled.small {
    margin-top: -1px;
}

.child-3 > .nav-child.unstyled.small {
    margin-top: -1px;
}

.ext-menu ul {
    background: #000 !important;
}

.ext-menu li {
    width: 200px;
    height: 70px;
    text-align: center;
}

.ext-menu li.no-child, .ext-menu li.has-child {
    width: 202px;
}

.ext-menu a {
    font-size: 15px;
}

.ext-menu ul li a {
    font-size: 15px;
    padding: 15px 15px 15px 15px !important;
}

.ext-menu li li li {
    background: #000;
}

.ext-menu li li li:hover {
    background: #e77300;
}

.ext-menu li li li li {
    background: #000;
}

.ext-menu li li li li:hover {
    background: #e77300;
}

.second li {
    height: 40px;
}

.second ul {
    border-top-width: 0 !important;
    min-width: 10%;
    white-space: nowrap;
}

ul.second li ul li ul {
    padding: 0;
}

ul.second li ul li ul li {
    height: 40px;
}

ul.first-last:last-of-type > li {
    border: 1px solid #e77300;
    /*margin-top: 0;*/
}

.nav-child.unstyled.small.second.first-last:last-of-type {
    margin-top: 0px;
    height: 39.5px;
}

ul.nav.ext-menu > ul.nav-child.unstyled.small.second.first-last > li.deeper.parent {
    width: 85px;
}

/*
    .Ext-menu
*/
.nav > li > a {
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #e77300;
    text-decoration: none;
    color: #fff;
}

.icon-search.searchtwo {
    font-size: 30px;
    line-height: 2;
}

.icon-phone, .icon-clock2, .icon-mail {
    font-size: 16px;
    line-height: 1;
}

.customphonetwo {
    padding: 10px 0 0 0px;
    /*padding: 0px;*/
}

p.numbertwo {
    font-size: 15px;
    line-height: 10px;
    margin-bottom: 0;
}

/*
    Article section
*/
article.item-page {
    padding: 0 30px;
}

article.icotimetwo {
    float: left;
    padding-right: 7px;
}

article.icophonetwo {
    float: left;
    padding-right: 7px;
}

article.toppaneltwophones {
    width: 200px;
    background: #000;
    height: 70px;
    float: left;
    padding-left: 15px;
}

article.toppaneltwosearch {
    width: 60px;
    background: #000;
    height: 50px;
    float: left;
    text-align: center;
    margin-left: -20px;
}

article.content {
    padding: 0 30px 150px;
    text-align: justify;
}

article.copyright {
    color: #e77300;
    font-size: 15px;
    margin-top: 7px;
}

/*
    .article-section
*/

/*
    Content section
*/

.boxcategory {
    width: 420px;
}

.topmargin {
    margin-top: 20px;
}

div.categories-list li {
    float: left;
}

.imageboxcategory {
}

a.classlinkproduct:hover {
    color: #01A7D3;
    text-decoration: none;
    transition: 0.2s;
}

a.classlinkproduct {
    color: #000;
    transition: 0.2s;
}

a.readmorembgtp:hover {
    background: #000;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
}

.titleboxcategory {
    background: #000 none repeat scroll 0 0;
    border-bottom: 1px solid #e77300;
    border-left: 1px solid #e77300;
    border-right: 1px solid #e77300;
    padding: 10px 14px;
    position: relative;
    width: 390px;
}

a.linkboxcategory {
    color: #ec7c26;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

span.titlebox {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 160%;
    font-weight: 700;
}

span.captiontitlebox {
    display: flex;
    line-height: 30px;
}

.arrowbox {
    color: #cfdee4;
    font-size: 35px;
    margin: -55px 0 0 340px;
    position: inherit;
    z-index: 9 !important;
}

span.captiontitlebox {
    font-size: 15px !important;
}

.customtitlecatalog {
    float: right;
    padding: 15px 10px;
}

.titleboxcategorybwh {
    background: #000;
    border-bottom: 1px solid #e77300;
    border-left: 1px solid #e77300;
    border-right: 1px solid #e77300;
    padding: 18px 14px;
    width: auto;
    position: relative;
}

.boxcategorybwh {
    width: auto;
}

.arrowboxbh {
    position: inherit;
    font-size: 45px;
    color: #cfdee4;
    margin: -65px 0 0 340px;
    z-index: 9 !important;
    margin-bottom: 20px;
}

.titleboxcategorybh {
    background: rgba(232, 243, 246, 1);
    padding: 13px 15px;
    width: 270px;
    position: relative;
}

.arrowboxbwh2 {
    position: inherit;
    font-size: 40px;
    color: #cfdee4;
    margin: -70px 0 0 355px;
    z-index: 9 !important;
    margin-bottom: 0px;
}

.arrowicoboxheightsize {
    position: absolute;
    width: 15px;
    margin-left: 135px;
    margin-top: -35px;
    padding-bottom: 10px;
    opacity: 0.1;
    display: none;
}

button.btn.hasTooltip {
}

button.btn.hasTooltip {
    background: #e77300 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0 !important;
    color: #fff;
    font-size: 17.5px;
    padding: 10px 20px;
    text-shadow: none;
}

input#search-searchword {
    background-color: #000;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #fff;
    height: 45px;
    padding: 10px 15px;
}

.btn-toolbar {
}

.btn-toolbar {
    margin-left: -5px;
}

.form-limit > div#limit_chzn {
    width: auto !important;
}

.searchintro {
    padding-top: 15px;
}

section#bodysitetwo {
    padding: 0 30px 80px;
}

.thumbnails h3 {
    font-size: 18px;
}

/*
    .content-section
*/
p.infotwo {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}

#header-image img {
    /*width: 95%;*/
}

/*
    Footer
*/
footer#footerInner {
    width: auto;
    margin: 0 auto;
    text-align: center;
    height: 60px;
}

.nav.ext-menu {
    /*padding-top: 15px;*/
}

hr {
    border-color: #ec7c26;
    border-top-width: 1px;
    clear: both;
    height: 0;
    margin-bottom:15px !important;
    margin-top: 15px;
}

h3.item-title {
/*    display: none;
    font-size: 12px;
    left: -9999px;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    visibility: hidden;*/
}

#HeaderTwoinner > .toppaneltwo {
    height: 80px;
}

.mapboxcontact {
    width: 800px;
    float: left;
    display: inline-block;
    height: 250px;
}

.textboxcontact {
    width: 340px;
    float: left;
    display: inline-block;
    margin-right: 30px;
}

img.left-hand {
    padding-left: 5%;
    width: 55%;
    height: 160px;
}

.button-activated {
    margin-left: 45%;
    width: auto;
    height: auto;
}

img.right-hand {
    padding-left: 45%;
    width: 90%;
    height: 160px;
}