input#search-searchword {
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 10px 15px;
  color: #000;
  color: black!important;
  border-radius: 0;
  padding: 10px 15px;
  border-color: #00b3e2!important;
  min-width: 300px;
}.alert.alert-error {
  /*position: absolute;
  width: 90px;
  padding: 10px!important;
  margin: 74px 0 0 -120px;*/
  border-radius: 0!important;
  text-align: left;
}.500stop {
    display:none;
}
div#b2jcontainer_c186 .btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #959595;
  color: #FFF;
  text-shadow: none;
  border: 0;
  line-height: 30px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}div#b2jcontainer_c186 .chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  padding: 10px 10px;
  margin: 0;
  list-style: none;
  background: none;
}div#b2jcontainer_c186 .chzn-container .chzn-results .highlighted {
  background-color: #00B3E2;
  color: #fff;
}
div#b2jcontainer_c186 .chzn-container .chzn-drop {
  background: #fff;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
  -o-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
  box-shadow: 0 9px 30px rgba(0, 0, 0, 0.14);
  z-index: 1010;
  border: 1px solid #E4E4E4;
  border-top: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
div#b2jcontainer_c186 .chzn-container-single .chzn-single {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  background-color: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #E4E4E4;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 28px;
  line-height: 28px;
  padding: 0 0 0 8px;
  color: #898989;
  text-decoration: none;
}div#b2jcontainer_c186 .chzn-container-active .chzn-single-with-drop {
  border: 1px solid #E4E4E4;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  -o-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  background-color: #fff;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.pdf_download {
    /* font-weight: 600; */
    margin-bottom: 25px;
}

a.pdfdwnld {
    border-bottom: 1px solid;
}
.b2jcontainer h2 {
  font-size: 24px;
  color: #000;
  margin: -31px -31px 30px -31px;
  padding: 15px 30px;
  background: #FFFFFF;
  font-weight: 900;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 285%;
  text-align: center;
}
div#b2jcontainer_c186.b2jcontainer {
  width: 310px;
  padding: 30px;
  overflow: visible;
  margin: auto;
  background: #FFFFFF;
  border: solid 0px #c2c2c2;
  font-family: inherit;
  color: #000000;
  font-weight: 300;
}

div#b2jcontainer_c186 .b2j_form input[type="text"], div#b2jcontainer_c186 .b2j_form textarea {
  color: #898989;
  background-color: #ffffff;
  border: solid 1px #E4E4E4;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  line-height: 20px;
  padding: 4px 10px;
  margin: 0;
  height: 40px;
  width: 310px;
  font-weight: 100;
  font-size: 13px;
}
div#b2jcontainer_c186 .chzn-container-single .chzn-single {
  width: 310px;
  padding: 0 10px;
}
div#b2jcontainer_c186 .chzn-container {
  font-size: 13px;
  position: relative;
  display: inline-block;
  zoom: 1;
  width: auto !important;
  max-width: 100%;
  width: 310px!important;
}div#b2jcontainer_c186 textarea {
  width: 270px;
  height: 150px!important;
}
div#b2jcontainer_c186 button.btn, div#b2jcontainer_c186 input[type="submit"].btn {
  padding: 10px 23px;
  margin-left: 1px;
  margin-top: 5px;
  margin-right: 7px!important;
  margin-left: 10px;
}

.zatr-menu.active {
    width: calc(100% - -0rem);
  }
.zatr-menu {
  top: 0%;
  left: 0%;
}
.dpmt {
  margin-top: 20px;
}article.mobilemenu2 {
  margin-left: 330px;
  margin-top: -5px!important;
  position: absolute;
}
ul#mob li {
  font-size: 15px;
  font-weight: 700;
}
.hiden500px {
    display: none;
}

.visible500px {
    display: block!important;
}
/* in site */
span.mobile_version {
    display: none;
}
div#web_version {
  display: none;
}
div#mobile_version {
  /* display: none; */
  /* margin-top: -25px; */
}
.customtitlecatalogbiolitec {
    margin-left: 30px;
    width: 450px;
    float: right;
}
img.message_help {
  position: absolute;
  width: 30%;
  margin: -95px 0 0 -120px;
  transform: rotate(180deg);
}
div#div1 {
position: absolute!important;
  
margin: 360px 0 0 475px;
  font-size: 81%;
  text-align: left;
  
z-index: 999;
font-weight: 600;
  padding: 20px 15px;
  box-shadow: 0px 0px 30px 0px rgba(0, 42, 68, 0.09);
}

span.styleatachhelper {
    font-size: 200%;
}
.tabs {
    position: relative;
    clear: both;
    margin-top: 20px;
    height: 350px;
}
.tab {
    float: left;
}
.tab input[type="radio"] {
    display: none;
}

.tab label {
    display: block;
    position: relative;
    z-index: 2;
    top: 1px;
    margin: 5px 0px;
    margin-right: 10px;
    padding-bottom: 0;
    /* border-width: 1px 0 1px 1px; */
    /* border-style: dotted; */
    /* border-color: #000000; */
    box-sizing: border-box;
    border-bottom: 1px dashed #000;
}
.tab input[type="radio"]:checked ~ label {
    font-weight: 700;
    font-size: 115%;
    color: #00b3e2;    border-bottom: 1px dashed #00b3e2;
}
.tab:last-child label {
    /* border-right: 1px solid #c8c8c8; */
}.marginwebm {
  margin-bottom: 80px;
}
.tab-content {
    min-height: 250px;
    position: absolute;
    padding: 20px;
    top: 120px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #fff;
}
.tab-content * {
    margin: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.6s ease;
}
.tab input[type="radio"]:checked ~ label ~ .tab-content {
    z-index: 1;
}
.tab input[type="radio"]:checked ~ label ~ .tab-content * {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.tab-content img {
    max-width: 330px;
}
.widthcorrect {
  float: inherit!important;
}
.newwidthbowa {
  width: 325px!important;
}
img.sigFreeImg {
    width: 142px!important;    
}

a.sigFreeLink.fancybox-button {
    width: 142px!important;    
}
span.buttonuoof {
    color: #00b6e4;    background: none;    
    font-size: 25px;    -moz-transform: rotate(90deg);    -ms-transform: rotate(90deg);    -webkit-transform: rotate(90deg);    -o-transform: rotate(90deg);    transform: rotate(90deg);
    margin-top: -5px;
    margin-left: 5px;
}
.spoiler > input + label:after{border-bottom: 1px dashed;content: "Развернуть полное описание ▼";float: left;text-transform: uppercase;font-weight: 700;}
.spoiler > input:checked + label:after{border-bottom: 1px dashed;content: "Свернуть полное описание ▲";float: left;text-transform: uppercase;font-weight: 700;}
.spoiler > input{display:none;}
.spoiler > input + label , .spoiler > .spoiler_body{padding: 5px 0px;width: 100%;display: block;margin-bottom: 20px;}
.spoiler > input + label + .spoiler_body{
    display: none;
}
.spoiler > input:checked + label + .spoiler_body{display: block;}
.spoiler > .spoiler_body{background: #FFF;border-top: none;}
.arrowboxbwh2 {
    position: inherit;    
    font-size: 38px;    color: #cfdee4;    
    margin: -60px 0 0 275px;    z-index: 9!important;    
    margin-bottom: 0px;  
}
table#table_product2 {
  width: 340px;
}table.table_product_fotables {
  width: 270px!important;
}
.arrowicoboxheightsize {
  position: absolute;
  width: 12px;
  margin-left: 155px;
  margin-top: -25px;
  opacity: 0.1;
  display: none;
}.fotobles2 {
  margin-left: 130px!important;
}
.bbbcenterbox {
    width: 500px!important;
}
.ext-menu a, .ext-menu ul a, .ext-menu ul ul a {
    font-size: 13px;
}.ext-menu ul a {
  color: #FFF;
  text-transform: uppercase;
  padding: 10px 14px;
}
article.mobilemenu {
    float: right;
    display: block!important;    background: #00b3e2;        
}
.zatr-menu-inner {
    margin-left: 0;
}
.zatr-menu-link:hover {
    background: #00a5d1;
}

ul#mob {
  overflow: hidden;
}

.zatr-menu-opener {
    float: right;
    /* top: inherit!important; */
    /* left: inherit!important; */
    background: #00b3e2;
    position: absolute;
    margin: 0px 10px 10px -90px;
    width: 85px;
    height: 85px;
}.zatr-menu-opener-inner {
  background: #fff;
  height: 0.5rem;
  margin-left: 1.4rem;
  margin-top: 2.55rem;
  width: 2.5rem;
}
hr {
  border: 0 #dfe6e8 solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
  margin-top: 25px;
  margin-bottom: 25px!important;
}
ul.nav-child.unstyled.small {}

.ext-menu ul {
    background: #000!important;
}

ul.nav-child.unstyled.small {
    background: none!important;
}

.ext-menu li li li {
    background: #00a5d1;
}

.ext-menu li li li:hover {
    background: #009CC5;
}

.ext-menu li li li li {
    background: #009CC5;
}

.ext-menu li li li li:hover {
    background: #0091B7;
}
article.shtotwo {
  margin-left: 0px;
}

input#search-searchword {
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 10px 15px;
    color: #000;
}

button.btn.hasTooltip {}

button.btn.hasTooltip {
    padding: 10px 20px;
    border: 0;
    background: #00b3e2;
    color: #fff;
    border-radius: 0!important;
    font-size: 18px;
    text-shadow: none;
}

span.badge.badge-info {
    background: #00b3e2;
    border-radius: 0;
}

fieldset.phrases {
    width: 40%;
    float: left;
    display: inline-block;
}

fieldset.only {
    width: 25%;
    float: left;
    display: inline-block;
}

legend {
    font-weight: 700;
}

.form-limit {
    width: 20%;
}

.btn-toolbar {
}

article.formcontactmodule {
  text-align: center;
}.expandUp {
  text-align: center;
}
div#cavas_id125.bt-googlemaps {
  height: 285px!important;
}
.margin_topboxcontactbutton {
    margin-top: 60px;
}

a.margincontact {
    padding: 15px 36px!important;
}
span.titleboxcontact {
    font-size: 27px;    font-family: 'Open Sans Condensed', sans-serif;
}
.mapboxcontact {
    width: 240px;    float: left;    display: inline-block;
    height: 290px;
}
.textboxcontact {
    width: 190px;
    float: left;
    display: inline-block;
    margin-right: 20px;
}
p.readmore a {
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #000;
    padding: 5px 20px;
    font-size: 11px;
}

p.readmore a:hover {
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #000;
    padding: 5px 20px;
    background: #000;
    color: #fff;
}

p.readmore {
    text-align: right;
}
article.item-page h2 {
    font-size: 27px;    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 130%;
}
.items-row h2 {
    font-size: 16px;    font-family: 'Open Sans Condensed', sans-serif;
}

.items-row {
    margin-top: 35px;
}

article.item {
    width: 100%;
    display: inline-block;
    float: left;
}

article.column-1, article.column-2 {
    margin-right: 20px;
}
article.column-1 p, article.column-2 p {
    margin-right: 0px;
}
span.title_news {
    font-size: 18px; font-family: 'Open Sans Condensed', sans-serif;
}
.hoverbigtable { 
 /* height: 180px; */ 

 /* overflow: hidden; */ 
transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1) 0;
}

.hoverbigtable:hover { 
height: auto;
overflow: hidden;
transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1) 0;
}
.fancybox-close {
  top: -40px;
  right: -5px;
}
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.fancybox-overlay {
  background: rgba(0, 103, 138, 0.95);
}
ul.sigFreeClassic li.sigFreeThumb a.sigFreeLink, ul.sigFreeClassic li.sigFreeThumb a.sigFreeLink:hover {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #00678a;
  position: relative;
}
ul.sigFreeClassic {
  margin: 8px auto!important;
  padding: 8px 0!important;
  list-style: none;
  clear: none!important;
  overflow: auto!important;
}

.gallery_product {
    float: left;
    background: #f4f9fb;
    padding: 20px 30px;
    margin-top: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.titlegallerybox {
    font-size: 140%;    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    margin-right: 15px;
}

span.titlegalleryboximg {
    color: #cedfe5;
    font-size: 25px;
    padding-right: 5px;
}

ul.sigFreeClassic li.sigFreeThumb {
  float: left;
  background: #fff!important;
  margin: 0 15px 15px 0;
  padding: 0;
  list-style: none!important;
}
table#table_product {
  width: 200px;
}

tr {
  border-bottom: 1px solid #cedfe5;
}
tr.zebratable {
    /* background: rgba(232, 243, 246, 1); */
}

td {
    padding: 5px 10px;
    text-align: center;
}
.tableproduct {
  float: left;
  display: inline-block;
}
.boxproducttable {
    float: left;
    margin-right: 0px;
    width: 200px;
    text-align: center;
    margin-top: 15px;
}.fotables {
  width: 270px;
}
a.linksliderbutton {
    border: 2px solid #fff;
    padding: 5px 20px;
    font-size: 12px;
    color: #fff;
    position: relative;
    float: right;
    margin-top: 10px;
}
a.linksliderbutton:hover {
        border: 2px solid #fff;
    
        padding: 5px 20px;
    font-size: 12px;
    
        color: #000;
    
        background: #fff!important;
        position: relative;
    float: right;
    
        margin-top: 10px;
        text-decoration: none;
        transition: 0.2s;
}
.camera_caption_desc {
    font-size: 12px;
}
.camera_caption > div {
  background: none!important;
}

.camera_caption.moveFromLeft {
    width: 500px;
    height: 500px;
    margin-left: 0px;
    text-align: right;
}

.camera_caption_title {
font-size: 3.3em;
  font-weight: normal;
  
line-height: 1.5em;
font-family: 'Open Sans Condensed', sans-serif;
}
.camera_caption.moveFromLeft {
    top: 300px;
    top: 35vh;
}

.camera_target_content {
    width: 500px;
    margin: 0 auto;
}
div#camera_wrap_118 {
  position: absolute!important;
  height: 110vh!important;
  z-index: 1!important;
  min-height: 450px!important;
}

.styled-select {
   width: 294px;
   height: 54px;
   overflow: hidden;
   background: url(/images/arrowselect.png) no-repeat right;
   background-size: contain;
   margin-left: 118px;
}
.styled-select select {
   background: transparent;
   -webkit-appearance: none;
   line-height: 50px;
}
button.closewindows {
    background: url(/images/circle-with-cross.svg);
    border: 0px;
    background-size: 27px;
    border-radius: 15px;
    color: #000;
    opacity: 0.3;
    font-size: 150%;
    height: 27px;
    width: 27px;
    background-repeat: no-repeat;
}

button.closewindows:hover {
    opacity: 1;
    transition:0.2s;
}
a.ostav_zayavku {
   border-radius:0; 
   padding: 20px 70px;    color: #FFF;    background: #00afe0;    
   text-decoration: none;
   font-weight: 700;    border: 0;    font-family: 'Open Sans Condensed', sans-serif;    
   font-size: 15px;    text-transform: uppercase;    box-shadow: 0px 10px 0px 0px #37C3EB;    transition: 0.2s;
}
a.ostav_zayavku:hover {
  
  
  background: #00BFF5;
  box-shadow: 0px 10px 0px 0px #50D0F5;
  transition: 0.2s;
  text-decoration: none;
}

article.searchmodule {
  width: 450px!important;
}

select#up_product {
  padding: 0!important;
  width: 293px!important;
  height: 54px;
  padding-left: 7px!important;
}select#up_product option {
  background: #00b6e1;
}.messages span {
  color: rgb(255, 242, 0)!important;
  padding: 5px;
}

::-webkit-input-placeholder {color:#00b6e1;}
::-moz-placeholder          {color:#00b6e1;}/* Firefox 19+ */
:-moz-placeholder           {color:#00b6e1;}/* Firefox 18- */
:-ms-input-placeholder      {color:#00b6e1;}

select::-webkit-input-placeholder { color:#00b6e1; }
textarea::-webkit-input-placeholder { color:#00b6e1; }
input::-webkit-input-placeholder { color:#00b6e1; }
input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;} 

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
/* сдвиг placeholder-а вниз при фокусе*/
.input::-webkit-input-placeholder       {line-height: 20px;  transition: line-height 0.5s ease;}
.input::-moz-placeholder                {line-height: 20px;  transition: line-height 0.5s ease;}
.input:-moz-placeholder                 {line-height: 20px;  transition: line-height 0.5s ease;}
.input:-ms-input-placeholder            {line-height: 20px;  transition: line-height 0.5s ease;}
.input:focus::-webkit-input-placeholder {line-height: 100px; transition: line-height 0.5s ease;}
.input:focus::-moz-placeholder          {line-height: 100px; transition: line-height 0.5s ease;}
.input:focus:-moz-placeholder           {line-height: 100px; transition: line-height 0.5s ease;}
.input:focus:-ms-input-placeholder      {line-height: 100px; transition: line-height 0.5s ease;}

p.titleostavzayav {
    font-size: 37px;    color: #fff;    font-family: 'Open Sans Condensed', sans-serif;    font-weight: 700;
    margin-bottom: 0;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  color: #FFF;
  font-style: italic;
}

span.icon-mail-margin {
    font-size: 100px;
    color: #fff;
}

input#user_name, input#user_email, textarea#text_comment, input#user_telephone, select#up_product {
width: 269px;
margin-bottom: 20px;
border: 2px solid #00b6e1;
border-radius: 0;
padding: 10px 10px;
background: none;
}
textarea#text_comment {
height: 74px;
}

input#btn_submit:hover {
background-color: #00BFF5;
box-shadow: 0px 5px 0px 0px #50D0F5;    transition: 0.2s;
}
input#btn_submit {
cursor: pointer;
border-style: groove;
border-radius: 0px;
font-size: 19px;        
padding: 15px 71px;    color: #FFF;    background: #00afe0;    font-weight: 700;    border: 0;    font-family: 'Open Sans Condensed', sans-serif;        text-transform: uppercase;    
box-shadow: 0px 5px 0px 0px #37C3EB;    transition: 0.2s;
margin-left: 1px;
}
input#btn_submit:active {
cursor: pointer;
border-style: groove;
border-radius: 0px;
font-size: 19px;        
padding: 17px 70px;    color: #FFF;    background: #00afe0;    font-weight: 700;    border: 0;    font-family: 'Open Sans Condensed', sans-serif;        text-transform: uppercase;    
box-shadow: 0px 1px 0px 0px #37C3EB;    transition: 0.2s;
}

article.item-page {
    padding: 0 15px;
}
.shara {
    float: right;
}
a.classlinkproduct:hover {
    color: #01A7D3;
  text-decoration: none; transition: 0.2s;
}
a.classlinkproduct {
    color: #000; transition: 0.2s;
}
a.readmorembgtp:hover {
    background: #000;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
}
.customtitlecatalog {
    float: left;
    margin: 30px 0;
    display: inline-block;
    padding: 0 10px;
}
.pdf_download {
    margin-bottom: 20px;
}

a.pdfdwnld {
    border-bottom: 1px solid;
}
p.title-catalog {
    font-family: 'Open Sans Condensed', sans-serif;    
    font-size: 170%;    
}

a.readmorembgtp {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid #000;
    color: #000;
    padding: 6px 17px;
}

.topmargin {
    margin-top: 20px;
}
.titleboxcategorybwh {
  background: rgba(232, 243, 246, 1);
  padding: 18px 15px;
  width: 198px;
}

.boxcategorybwh {
  width: 228px;
  margin-bottom: 20px;
}
.rightmargin {
    margin-right: 20px;
}
.arrowboxbh {
    position: inherit;    
    font-size: 40px;    color: #cfdee4;    
    margin: -50px 0px 0 155px;    z-index: 9!important;    
    margin-bottom: 9px;  
    display: none;
}
.arrowboxbwh {
    position: inherit;    
    font-size: 40px;    color: #cfdee4;    
    margin: -50px 0 0 274px;    z-index: 9!important;    
    margin-bottom: 10px;  
    display: none;
}
.titleboxcategorybh {
    background: rgba(232, 243, 246, 1);    
    padding: 6px 15px;    
    width: 190px;
}
.breadcrumbs span {
  margin-left:10px;
  color: #ccc;
}
a.pathway:hover {
  color: #00aedf;
  text-decoration:none;
  }
a.pathway {
    margin: 0 10px 0 10px;
    color: #000;
}

.breadcrumbs {
    font-family: 'Open Sans Condensed', sans-serif;    
    font-size: 123%;    
    font-weight: 100;
    margin: 25px 0 5px 5px;
}
article.fixed {
    position: fixed;
    box-shadow: 0px 0px 30px 0px rgba(0, 42, 68, 0.09);
    margin-top: -25px;
    z-index: 999;
    width: 500px;
    background: #fff;
}
.customphonetwo {
    padding: 15px 0 0 35px;
}
span.twoicophone {
    font-size: 25px!important;    
    padding-bottom: 5px!important;    
    padding-top: 7px!important;    
}

article.icophonetwo {
    float: left;    
    padding-right: 15px;
    display: none;
}

p.numbertwo {
    font-size: 17px;    
    line-height: 19px;    margin-bottom: 0;
}

article.icotimetwo {
    float: left;    
    padding-right: 7px;
    display: none;
}

p.infotwo {
    font-weight: 600;    
    font-size: 10px;    line-height: 22px;
}
img.logotypetwo {
    width: 65%;
    padding-top: 13px;
}

header#HeaderTwoinner {
    width: 500px;
    margin: 0 auto;
}

article.toppaneltwologo {
    width: 120px;
    background: #fff;
    height: 80px;
    float: left;
    text-align: center;
}

nav.navtwo {
    width: 401px;    
    background: #00b3e2;    height: 80px;
    float: left;
    display: none;
}

article.toppaneltwosearch {
    width: 85px;    
    background: #00b6e4;    height: 80px;    float: left;
    text-align: center;
}

article.toppaneltwophones {
    width: 200px;    
    background: #fff;    height: 80px;    float: left;
}
h3.item-title {
    display: none;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: -9999px;
    font-size: 12px;
}
a.linkboxcategory {
    text-decoration: none;
    color: #000;transition: 0.2s;
}

a.linkboxcategory:hover {
    text-decoration: none;
    color: #00aedf;
    transition: 0.2s;
}
.boxcategory {
    width: 145px;
}

.boxcategory-end {
    width: 300px;
}
a.ostvzayvk {
    padding: 25px 50px;    color: #FFF;    background: #00afe0;    font-weight: 700;    border: 0;    font-family: 'Open Sans Condensed', sans-serif;    font-size: 23px;    text-transform: uppercase;    box-shadow: 0px 10px 0px 0px #37C3EB;    transition: 0.2s;
}
a.ostvzayvk:hover {
padding: 25px 50px;
  text-decoration: none;
  color: #FFF;
  background: #00BFF5;
  font-weight: 700;
  border: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  box-shadow: 0px 10px 0px 0px #50D0F5;
  transition: 0.2s;}

section#bodysitetwo {
    width: 500px;
    margin: 0 auto;
    /* display: table; */
}

article.content {
    padding: 0px 10px;
}

article.toppaneltwo {
    height: 80px;
}

article.breadcrambs {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.titleboxcategory {
    background: #eaf3f7;
    padding: 10px 10px;
    width: 126px;
    padding-bottom: 10px;
}

div.categories-list li {
    float: left;
}
span.titlebox2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 37px;
    font-weight: 700;
}
span.titlebox {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    font-weight: 700;

}

span.captiontitlebox {
    display: table;
    line-height: 10px;
    font-size: 8px;
    display: flex;
}
.arrowbox2 {
    position: inherit;
    font-size: 45px;
    color: #cfdee4;
    margin: -40px 0px 0 225px;
    z-index: 9!important;
    margin-bottom: 0px;
}
.arrowbox {
    position: inherit;
    font-size: 38px;
    color: #cfdee4;
    margin: -40px 0px 0 160px;
    z-index: 9!important;
    margin-bottom: 0px;
    display: none;
}

/* - */

a.phonelink {
    color: #000;
    text-decoration: none;
}a.linkslider {
    position: relative;
    float: right;
    color: #fff;
    text-decoration: none;
}

.ext-menu > li {
  float: left;
  padding: 30px 12px;
}
.nav>li>a:link {
  transition:0.2s!important;
}
ul.nav.menu li {
  padding: 5px 0 5px 40px;
  transition:0.2s!important;
}
ul.nav.menu >li>a:link {

  transition:0.2s!important;
}
ul.nav.menu >li>a:hover, ul.nav.menu >li>a:focus {
    color: #FFF000!important;
  background:none!important;
  transition:0.2s!important;
}
.nav>li>a:hover, .nav>li>a:focus {
    color: #FFFFFF!important;
  background:none!important;
  transition:0.2s!important;
}article.copyright {
  position: absolute;
  color: #ADBCC0;
  margin-top: 7px;
}
article.searchmodule {
    /* margin-top: 23vh; */
    width: 500px;
    margin: 0 auto;
}
span.icon-searchtop {
    padding: 26px 0 0 0;
}
span.iconsearch2 {
    font-size: 100px!important;
    margin-bottom: 50px;
    color: #fff;
}

input#mod-search-searchword {
    border: 2px solid #00b6e1;
    background: none;
    border-radius: 0;
    font-style: italic;
    color: #fff!important;
    padding: 15px 15px;
    width: 320px;
}

button.button.btn.btn-primary {
    color: #fff;
    background: #00b6e1;
    border-radius: 0;
    text-shadow: none;
    border: 0;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 13px;
    padding: 17px;
    margin-left: -5px;
}
.search-search {
}

span.icon-youtube, span.icon-twitter {
    margin: 0px 10px;
    font-size: 33px;
    color: #ADBCC0;
  transition:0.2s;
}

span.icon-youtube:hover, span.icon-twitter:hover {
    color: #00afe0;transition:0.2s;
}
footer#footerInner {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  height: 55px;
}

a.linkprod {
    background: rgba(0, 175, 224, 0.95);
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 11px 15px;
    text-decoration: none;
}

article.link {
    overflow: hidden;
    opacity: 0;
    transition: 0.2s;
    height: 165px!important;
}

article.link:hover {
    overflow: visible;
    position: relative;
    display: block;
    opacity: 1;
    line-height: inherit;
}

article.icotobottom {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  display: none;
}.icobotom {
    position: absolute;
    margin-left: 330px;
}span.tsiht {
  margin-top: 650px;
  margin-top: 80vh;
  z-index: 999;
  color: #fff000;
  position: relative;
  font-size: 77px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icobbb {
  margin: 20px 0;
  margin-bottom: 40px;
}
span.marginbbb {
  color: #f5645b;
  background: none;
  font-size: 77px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
section#product {
  position: relative;
  z-index: 9999;
  width: 500px;
  margin: 0 auto;
  height: 165px;
}
.prod1:hover { 
 background: url(/images/bbrauncatalog-active.jpg);    background-size: cover;
}
.prod2:hover { 
 background: url(/images/bowacatalog-active.jpg);    background-size: cover;
}
.prod3:hover { 
 background: url(/images/bioliteccatalog-active.jpg);    background-size: cover;
}
.prod1 {
  background: url(/images/bbrauncatalog.jpg);
  background-size: cover;
  width: 166px;
  height: 165px;
  float: left;
  text-align: center;    
  line-height: 180px;
  transition: 0.2s;
}
.prod2 {
  background: url(/images/bowacatalog.jpg);    background-size: cover;
  width: 166px;
  height: 165px;
  float: left;
  text-align: center;    
  line-height: 180px;
  transition: 0.5s;
   
}
.prod3 {
  background: url(/images/bioliteccatalog.jpg);    background-size: cover;
  width: 166px;
  height: 165px;
  float: left;
  text-align: center;    
  line-height: 180px;
  transition: 0.5s;
   
}
.cb-slideshow li div h3 {
    font-size: 70px;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;    font-weight: 700;
}
.cb-slideshow li div h4 {
    font-size: 19px;
    font-weight: 100;
    color: #fff;
    line-height: 22px;
}
.cb-slideshow li div h5 {
    font-size: 13px;
    font-weight: 300;
    float: right;
    padding: 10px 25px;
    border: 2px solid #fff;
    margin-top: 10px;
    margin-left: 200px;
    color: #fff;
}
article.blockslide {
    position: absolute;
    top: 40vh;
    margin-left: 508px;
    width: 420px;
}

article.titleslide {
}

article.buttonslide {}

article.buttonslide {}
section#captionsslider {
    width: 500px;
    margin: 0 auto;
    z-index: 8;
}
article.shto {
    padding-left: 1px;
}
article.icotime {
    float: left;    
    padding-right: 10px;
}

p.info {
    font-weight: 600;
    font-size: 10px;
    line-height: 22px;
}
.customphone {
    padding: 15px 0 0 10px;
}
article.icophone {
    float: left;
    padding-right: 10px;
}

span.icon-phone {
      font-size: 25px;
      padding-bottom: 0px;
      padding-top: 10px;
      color: #00afe0;
}

p.number {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 0;
}

span.icon-clock2 {
    font-size: 18px;
    color: #00afe0;
}
span.searchtwo {
    font-size: 30px!important;
    padding: 25px 0px!important;
    color: #fff;
}
p.search-title {    color: #fff;    padding: 10px 10px 10px 53px;
    display: none;}p.search-titletwo {    color: #fff;
    opacity: 0;    padding-left: 30px;    padding-top: 15px;}
ul.nav.menu {
  margin-top: 20px;
}


ul.nav.menu a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;    font-weight: 700;
    font-size: 16px;
    transition: 0.2s!important;
}

span.icon-searchtop {
    background: none;
    font-size: 30px;
    color: #fff;
}

span.icon-logotype {
    font-size: 100px;
    text-align: center;
}

img.logotype {
    width: 60%;
    padding: 16px 0;
}

body{min-width:500px;overflow-x: hidden;font-size: 71%;font-weight:400;}

header#headerInner {
    height: 800px;
    height: 100vh; 
    background-size: cover;
    z-index: 1;
    min-height: 400px;
}

section#toppanel {
    width: 500px;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    margin-top: -20px;
}

article.logotype {
    width: 130px;
    float: left;
    height: 85px;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
}

nav.nav {
    width: 270px;    float: left;
    background: rgba(0, 175, 224, 0.95);
    height: 160px;
    display: none;
}

article.search {
    width: 85px;    
    float: right;
    background: rgba(0, 179, 226, 0.95);    
    height: 85px;
    margin-right: 90px;
    text-align: center;
}

article.phones {
    width: 195px;    float: left;
    background: rgba(255, 255, 255, 0.95);    
    height: 85px;
}
.leftalignandmarginlistli {
  text-align: left;
  margin-left: 15px;
  width: 210px;
}div.sigplus-gallery ul>li>img, div.sigplus-gallery ul>li>a>img {
  margin: 0vw!important;
  border: 0 none transparent!important;
  padding: 0!important;
  width: 92px!important;
  margin-bottom: 10px!important;
  margin-right: 10px!important;
}ul.nav.ext-menu ul {
    min-width: 70px!important;
}

li.item-121.deeper.parent {
  width: 205px!important;
}

li.item-138 {
  margin-top: -120px!important;
}li.item-138 {
  width: 205px!important;
}li.item-126, li.item-127, li.item-128 {
  width: 130px;
}li.item-152 {
  width: 205px;
}li.item-149 {
  margin-top: -200px;
}li.item-160 {
  width: 245px;
}li.item-159.deeper.parent {
  width: 245px;
}
.titleboxcategory-small:hover, .titleboxcategory-small-r:hover, .titleboxcategorybwh-small:hover {
background: #FFFFFF;
box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
color:#00aee0;
transition: 0.2s;
}
.titleboxcategory-small:hover .arrowbox {
 color:#00aee0; 
 transition:0.2s;
}
.titleboxcategory-small {
background: #eaf3f7;
padding: 25px 10px;
width: 125px;
position: relative;
}
.titleboxcategory-small-r{
background: #eaf3f7;
padding: 14px 10px;
width: 125px;
position: relative;
word-break: break-all;
}

.titleboxcategory-small-r:hover .arrowboxbh {
 color:#00aee0; 
 transition:0.2s;
}
.titleboxcategorybwh-small {
background: rgba(232, 243, 246, 1);
padding: 18px 10px;
width: 208px;
position: relative;
}
.titleboxcategorybwh-small:hover .arrowboxbwh {
 color:#00aee0; 
 transition:0.2s;
}span.icopdf {
    display: table;
    float: left;
    margin-right: 5px;
    padding-top: 5px;
}
.protez-pop {width: 260px;}
.zaplat-s-pop {width: 260px;}
.zaplat-n-pop {width: 260px;}
.ne-shov-mat-pop {width: 460px;}
.shov-mat-pop {width: 440px;} 
.popup {margin-top:0;}
.modal-link {
text-align: center;
padding-bottom: 10px;
height: 200px;
height: 50vh;
overflow-y: scroll;
}
#finder-search input {
min-width: 368px;
}
span.title_news img {display:none;}