/* in site */
.fotobles2 {
  margin-left: 190px!important;
}
.leftmargin-1200px-plus2 {
  
}
.leftmargin-1200px-plus1 {
}
span.mobile_version {
    display: none;
}
div#mobile_version {
  display: none;
}
a.backbutton {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #000;
  color: #000;
  padding: 7px 20px;
}
.customtitlecatalogbiolitec {
    margin-left: 30px;
    width: 600px;
    float: right;
    margin-top: 15px;
}
img.message_help {
  position: absolute;
  width: 30%;
  margin: 35px 0 0 -120px;
}
div#div1 {
position: absolute!important;
  
margin: 160px 0 0 705px;
  font-size: 81%;
  text-align: left;
  font-weight: 600;
  padding: 20px 15px;
  box-shadow: 0px 0px 30px 0px rgba(0, 42, 68, 0.09);
}

span.styleatachhelper {
    font-size: 200%;
}
.tabs {
    position: relative;
    clear: both;
    margin-top: 20px;
    height: 350px;
}
.tab {
    float: left;
}
.tab input[type="radio"] {
    display: none;
}

.tab label {
    display: block;
    position: relative;
    z-index: 2;
    top: 1px;
    margin: 5px 0px;
    margin-right: 10px;
    padding-bottom: 0;
    /* border-width: 1px 0 1px 1px; */
    /* border-style: dotted; */
    /* border-color: #000000; */
    box-sizing: border-box;
    border-bottom: 1px dashed #000;
}
.tab input[type="radio"]:checked ~ label {
    font-weight: 700;
    font-size: 115%;
    color: #00b3e2;    border-bottom: 1px dashed #00b3e2;
}
.tab:last-child label {
    /* border-right: 1px solid #c8c8c8; */
}
.tab-content {
    min-height: 250px;
    position: absolute;
    padding: 20px;
    top: 70px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #fff;
}
.tab-content * {
    margin: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.6s ease;
}
.tab input[type="radio"]:checked ~ label ~ .tab-content {
    z-index: 1;
}
.tab input[type="radio"]:checked ~ label ~ .tab-content * {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.tab-content img {
    max-width: 330px;
}

.spoiler_desc {
     padding: 0 15px;
     margin-top: 20px;
 
}
 .spoiler_desc p {
     cursor: text;
 }
 .spoiler_close {
     display: none;
width: 100%;
     text-align: right;
     cursor: pointer;
     position: absolute;
     top: 0px;
     left: 0;
     border-bottom: 1px dashed #000;
}
 .spoiler_close:hover {  }
 .spoiler_open:before {
     content: '▼';
     cursor: pointer;
     display: block;
     position: absolute;
     top: 0px;
     left: 0;
     border-bottom: 1px dashed #000;
     width: 100%;
     text-align: right;
}
 .spoiler_open:hover:before { }
 .spoiler_open {
     margin: 5px 15px 0 0px;
     height: 23px;
     width: 285px;
     outline: none;
     float: left;
     position: relative;
     overflow: hidden;
     -webkit-transition: height 0.3s ease;
     -moz-transition: height 0.3s ease;
     -ms-transition: height 0.3s ease;
     -o-transition: height 0.3s ease;
     transition: height 0.3s ease;
 }
 .spoiler_open:focus { height: inherit; height: auto;}
 .spoiler_open:focus .spoiler_close { display: block; }
 .spoiler_open:focus:before { display: none; }
.widthcorrect {
}

.newwidthbowa {
  width: 450px!important;
}
img.sigFreeImg {
    width: 153px!important;    
}

a.sigFreeLink.fancybox-button {
    width: 153px!important;    
}
span.buttonuoof {
    color: #00b6e4;    background: none;    
    font-size: 25px;   
    margin-top: -5px;
    margin-left: 5px;
}
.spoiler > input + label:after{content: "Развернуть полное описание ▼";float: left;text-transform: uppercase;font-weight: 700;border-bottom: 1px dashed;}
.spoiler > input:checked + label:after{content: "Свернуть полное описание ▲";float: left;text-transform: uppercase;font-weight: 700;border-bottom: 1px dashed;display: run-in;}
.spoiler > input{display:none;}
.spoiler > input + label , .spoiler > .spoiler_body{padding: 5px 0px;/* overflow:hidden; */width: 100%;display: block;margin-bottom: 25px;}
.spoiler > input + label + .spoiler_body{
    display: none;
}
.spoiler > input:checked + label + .spoiler_body{display: block;/* padding-top: 35px; */}
.spoiler > .spoiler_body{background: #FFF;border-top: none;}
.arrowboxbwh2 {
    position: inherit;    font-size: 45px;    color: #cfdee4;    
    margin: -75px 0 0 385px;    z-index: 9!important;    
    margin-bottom: 5px;  
}
.arrowicoboxheightsize {
  position: absolute;
  width: 15px;
  margin-left: 135px;
  margin-top: -35px;
  padding-bottom: 10px;
  opacity: 0.1;
}
div#forma_search {
    margin-top: 15vh;
}
nav.zatr-menu-opener {
  display: none;
}
ul.nav-child.unstyled.small {}

.ext-menu ul {
    background: #000!important;
}

ul.nav-child.unstyled.small {
    background: #000!important;
}

.ext-menu li li li {
    background: #00a5d1;
}

.ext-menu li li li:hover {
    background: #009CC5;
}

.ext-menu li li li li {
    background: #009CC5;
}

.ext-menu li li li li:hover {
    background: #0091B7;
}
article.shtotwo {
  margin-left: 13px;
}

input#search-searchword {
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 10px 15px;
    color: #000;
}

button.btn.hasTooltip {}

button.btn.hasTooltip {
    padding: 10px 20px;
    border: 0;
    background: #00b3e2;
    color: #fff;
    border-radius: 0!important;
    font-size: 18px;
    text-shadow: none;
}

span.badge.badge-info {
    background: #00b3e2;
    border-radius: 0;
}

fieldset.phrases {
    width: 40%;
    float: left;
    display: inline-block;
}

fieldset.only {
    width: 25%;
    float: left;
    display: inline-block;
}

legend {
    font-weight: 700;
}

.form-limit {
    width: 20%;
}

.btn-toolbar {
}

article.formcontactmodule {
  text-align: center;
}.expandUp {
  text-align: center;
}
div#cavas_id125.bt-googlemaps {
  height: 297px!important;
}
.margin_topboxcontactbutton {
    margin-top: 60px;
}

a.margincontact {
    padding: 20px 65px!important;
}
span.titleboxcontact {
    font-size: 27px;    font-family: 'Open Sans Condensed', sans-serif;
}
.mapboxcontact {
    width: 580px;    float: left;    display: inline-block;
}
.textboxcontact {
    width: 300px;
    float: left;
    display: inline-block;
    margin-right: 30px;
}
p.readmore a {
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #000;
    padding: 5px 25px;
}

p.readmore a:hover {
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #000;
    padding: 5px 25px;
    background: #000;
    color: #fff;
}

p.readmore {
    text-align: center;
}
article.item-page h2 {
    font-size: 37px;    font-family: 'Open Sans Condensed', sans-serif;
}
.items-row h2 {
    font-size: 27px;    font-family: 'Open Sans Condensed', sans-serif;
}

.items-row {
    margin-top: 50px;
}

article.item {
    width: 290px;
    display: inline-block;
    float: left;
}

article.column-1, article.column-2 {
    margin-right: 30px;
}
span.title_news {
    font-size: 37px; font-family: 'Open Sans Condensed', sans-serif;
}
.hoverbigtable { 
height: 195px;
overflow: hidden;
transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1) 0;
}

.hoverbigtable:hover { 
height: auto;
overflow: hidden;
transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1) 0;
box-shadow: 0px 0px 30px 0px rgba(0, 42, 68, 0.09);
}
.fancybox-close {
  top: -40px;
  right: -5px;
}
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.fancybox-overlay {
  background: rgba(0, 103, 138, 0.95);
}
ul.sigFreeClassic li.sigFreeThumb a.sigFreeLink, ul.sigFreeClassic li.sigFreeThumb a.sigFreeLink:hover {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #00678a;
  position: relative;
}
ul.sigFreeClassic {
  margin: 8px auto!important;
  padding: 8px 0!important;
  list-style: none;
  clear: none!important;
}

.gallery_product {
    float: left;
    padding: 20px 30px;
    margin-top: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
    background: #f4f9fb;
}

.titlegallerybox {
    font-size: 155%;    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    padding-right: 20px;
}

span.titlegalleryboximg {
    color: #cedfe5;
    font-size: 25px;
    padding-right: 5px;
}

ul.sigFreeClassic li.sigFreeThumb {
  float: left;
  background: #fff!important;
  margin: 0 20px 20px 0;
  padding: 0;
  list-style: none!important;
}
table#table_product {
  width: 280px;
}
table#table_product2 {
  width: 390px;
}
tr {
  border-bottom: 1px solid #cedfe5;
}
tr.zebratable {
    /* background: rgba(232, 243, 246, 1); */
}

td {
    padding: 5px 10px;
    text-align: center;
}
.tableproduct {
  float: left;
  display: inline-block;
}

.boxproducttable {
    float: left;
    margin-right: 20px;
    width: 280px;
    text-align: center;
    margin-top: 30px;
}.leftalignandmarginlistli {
  text-align: left;
  margin-left: 20px;
  width: 260px;
}
.fotables {
  width: 390px;
}
a.linksliderbutton {
    border: 2px solid #fff;
    padding: 8px 25px;
    font-size: 13px;
    color: #fff;
    position: relative;
    float: right;
    margin-top: 25px;
}
a.linksliderbutton:hover {
        border: 2px solid #fff;
    padding: 8px 25px;
    font-size: 13px;
    
        color: #000;
    
        background: #fff!important;
        position: relative;
    float: right;
    margin-top: 25px;
        text-decoration: none;
        transition: 0.2s;
}
.camera_caption_desc {
    font-size: 17px;
}
.camera_caption > div {
  background: none!important;
}

.camera_caption.moveFromLeft {
    width: 500px;
    height: 500px;
    margin-left: 435px;
    text-align: right;
}

.camera_caption_title {
font-size: 5.3em;
  font-weight: normal;
  
line-height: 1.5em;
font-family: 'Open Sans Condensed', sans-serif;
}
.camera_caption.moveFromLeft {
    top: 300px;
    top: 40vh;
}

.camera_target_content {
    width: 960px;
    margin: 0 auto;
}
div#camera_wrap_118 {
  position: absolute!important;
  height: 110vh!important;
  z-index: 1!important;
}

.styled-select {
   width: 294px;
   height: 54px;
   overflow: hidden;
   background: url(/images/arrowselect.png) no-repeat right;
   background-size: contain;
   margin-left: 118px;
}
.styled-select select {
   background: transparent;
   -webkit-appearance: none;
   line-height: 50px;
}
button.closewindows {
    background: none;
    border: 0;
    color: #fff;
    margin-top: 20px;
    opacity: 0.5;
}

button.closewindows:hover {
    opacity: 1;
    transition:0.2s;
}
a.ostav_zayavku {
   border-radius:0; 
   padding: 20px 70px;    color: #FFF;    background: #00afe0;    
   text-decoration: none;
   font-weight: 700;    border: 0;    font-family: 'Open Sans Condensed', sans-serif;    font-size: 23px;    text-transform: uppercase;    box-shadow: 0px 10px 0px 0px #37C3EB;    transition: 0.2s;
}
a.ostav_zayavku:hover {
  
  
  background: #00BFF5;
  box-shadow: 0px 10px 0px 0px #50D0F5;
  transition: 0.2s;
  text-decoration: none;
}

article.searchmodule {
  width: 450px!important;
}

select#up_product {
  padding: 0!important;
  width: 293px!important;
  height: 54px;
  padding-left: 7px!important;
}select#up_product option {
  background: #00b6e1;
}.messages span {
  color: rgb(255, 242, 0)!important;
  padding: 5px;
}

::-webkit-input-placeholder {color:#00b6e1;}
::-moz-placeholder          {color:#00b6e1;}/* Firefox 19+ */
:-moz-placeholder           {color:#00b6e1;}/* Firefox 18- */
:-ms-input-placeholder      {color:#00b6e1;}

select::-webkit-input-placeholder { color:#00b6e1; }
textarea::-webkit-input-placeholder { color:#00b6e1; }
input::-webkit-input-placeholder { color:#00b6e1; }
input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;} 

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
/* сдвиг placeholder-а вниз при фокусе*/
.input::-webkit-input-placeholder       {line-height: 20px;  transition: line-height 0.5s ease;}
.input::-moz-placeholder                {line-height: 20px;  transition: line-height 0.5s ease;}
.input:-moz-placeholder                 {line-height: 20px;  transition: line-height 0.5s ease;}
.input:-ms-input-placeholder            {line-height: 20px;  transition: line-height 0.5s ease;}
.input:focus::-webkit-input-placeholder {line-height: 100px; transition: line-height 0.5s ease;}
.input:focus::-moz-placeholder          {line-height: 100px; transition: line-height 0.5s ease;}
.input:focus:-moz-placeholder           {line-height: 100px; transition: line-height 0.5s ease;}
.input:focus:-ms-input-placeholder      {line-height: 100px; transition: line-height 0.5s ease;}

p.titleostavzayav {
    font-size: 37px;    color: #fff;    font-family: 'Open Sans Condensed', sans-serif;    font-weight: 700;
    margin-bottom: 0;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  color: #FFF;
  font-style: italic;
}

span.icon-mail-margin {
    font-size: 100px;
    color: #fff;
}

input#user_name, input#user_email, textarea#text_comment, input#user_telephone, select#up_product {
width: 269px;
margin-bottom: 20px;
border: 2px solid #00b6e1;
border-radius: 0;
padding: 15px 10px;
background: none;
}
textarea#text_comment {
height: 74px;
}

input#btn_submit:hover {
background-color: #00BFF5;
box-shadow: 0px 5px 0px 0px #50D0F5;    transition: 0.2s;
}
input#btn_submit {
cursor: pointer;
border-style: groove;
border-radius: 0px;
font-size: 19px;        
padding: 15px 71px;    color: #FFF;    background: #00afe0;    font-weight: 700;    border: 0;    font-family: 'Open Sans Condensed', sans-serif;        text-transform: uppercase;    
box-shadow: 0px 5px 0px 0px #37C3EB;    transition: 0.2s;
margin-left: 1px;
}
input#btn_submit:active {
cursor: pointer;
border-style: groove;
border-radius: 0px;
font-size: 19px;        
padding: 17px 70px;    color: #FFF;    background: #00afe0;    font-weight: 700;    border: 0;    font-family: 'Open Sans Condensed', sans-serif;        text-transform: uppercase;    
box-shadow: 0px 1px 0px 0px #37C3EB;    transition: 0.2s;
}

article.item-page {
    padding: 0 15px;
}
.shara {
    float: right;
}
a.classlinkproduct:hover {
    color: #01A7D3;
  text-decoration: none; transition: 0.2s;
}
a.classlinkproduct {
    color: #000; transition: 0.2s;
}
a.readmorembgtp:hover {
    background: #000;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
}
.customtitlecatalog {
    float: left;
    margin: 40px 0;
    display: inline-block;
    padding: 0 15px;
}

p.title-catalog {
    font-family: 'Open Sans Condensed', sans-serif;    
    font-size: 285%;    
}

a.readmorembgtp {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid #000;
    color: #000;
    padding: 7px 20px;
}

.topmargin {
    margin-top: 20px;
}
.titleboxcategorybwh {
  background: rgba(232, 243, 246, 1);
  padding: 18px 15px;
  width: 430px;
  position: relative;
}

.boxcategorybwh {
  width: 460px;
}
.rightmargin {
    margin-right: 20px;
}
.arrowboxbh {
    position: inherit;    font-size: 45px;    color: #cfdee4;    
    margin: -65px 0 0 225px;    z-index: 9!important;    
    margin-bottom: 20px;  
}
.arrowboxbwh {
    position: inherit;    font-size: 45px;    color: #cfdee4;    
    margin: -65px 0 0 385px;    z-index: 9!important;    
    margin-bottom: 20px;  
}
.titleboxcategorybh {
    background: rgba(232, 243, 246, 1);    
    padding: 13px 15px;    width: 270px;
    position: relative;
}
.breadcrumbs span {
  margin-left:10px;
  color: #ccc;
}
a.pathway:hover {
  color: #00aedf;
  text-decoration:none;
  }
a.pathway {
    margin: 0 10px 0 10px;
    color: #000;
}

.breadcrumbs {
    font-family: 'Open Sans Condensed', sans-serif;    
    font-size: 130%;    
    font-weight: 100;
    margin: 35px 0 5px 15px;
}
article.fixed {
    position: fixed;
    box-shadow: 0px 0px 30px 0px rgba(0, 42, 68, 0.09);
    margin-top: -35px;
    z-index: 999;
    width: 960px;
}
.customphonetwo {
    padding: 10px 0 0 15px;
}
span.twoicophone {
    font-size: 25px!important;    
    padding-bottom: 5px!important;    
    padding-top: 9px!important;    
    margin-left: 10px;
}

article.icophonetwo {
    float: left;    
    padding-right: 7px;
}

p.numbertwo {
    font-size: 18px;    
    line-height: 23px;    margin-bottom: 0;
}

article.icotimetwo {
    float: left;    
    padding-right: 7px;
}

p.infotwo {
    font-weight: 600;    
    font-size: 11px;    line-height: 22px;
}
img.logotypetwo {
    width: 50%;
    padding-top: 15px;
}

header#HeaderTwoinner {
    width: 960px;
    margin: 0 auto;
}

article.toppaneltwologo {
    width: 150px;
    background: #fff;
    height: 80px;
    float: left;
    text-align: center;
}

nav.navtwo {
    width: 500px;    
    background: #00b3e2;    height: 80px;
    float: left;
}

article.toppaneltwosearch {
    width: 100px;    
    background: #00b6e4;    height: 80px;    float: left;
}

article.toppaneltwophones {
    width: 210px;    
    background: #fff;    height: 80px;    float: left;
}
h3.item-title {
    display: none;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: -9999px;
    font-size: 12px;
}
a.linkboxcategory {
    text-decoration: none;
    color: #000;transition: 0.2s;
}

a.linkboxcategory:hover {
    text-decoration: none;
    color: #00aedf;
    transition: 0.2s;
}
.boxcategory {
    width: 300px;
}

.boxcategory-end {
    width: 300px;
}
a.ostvzayvk {
    padding: 25px 50px;    color: #FFF;    background: #00afe0;    font-weight: 700;    border: 0;    font-family: 'Open Sans Condensed', sans-serif;    font-size: 23px;    text-transform: uppercase;    box-shadow: 0px 10px 0px 0px #37C3EB;    transition: 0.2s;
}
a.ostvzayvk:hover {
padding: 25px 50px;
  text-decoration: none;
  color: #FFF;
  background: #00BFF5;
  font-weight: 700;
  border: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  box-shadow: 0px 10px 0px 0px #50D0F5;
  transition: 0.2s;}

section#bodysitetwo {
    width: 960px;
    margin: 0 auto;
    display: table;
}

article.content {
    padding: 10px 10px;
}

article.toppaneltwo {
    height: 80px;
}

article.breadcrambs {}

.titleboxcategory {
    background: #eaf3f7;
    padding: 25px 15px;
    width: 270px;
    position: relative;
}

div.categories-list li {
    float: left;
}
span.titlebox2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 37px;
    font-weight: 700;
}
span.titlebox {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 161%;
    font-weight: 700;
}

span.captiontitlebox {
    display: flex;
    line-height: 30px;
}
.arrowbox2 {
    position: inherit;
    font-size: 45px;
    color: #cfdee4;
    margin: -40px 0px 0 225px;
    z-index: 9!important;
    margin-bottom: 0px;
}
.arrowbox {
    position: inherit;
    font-size: 45px;
    color: #cfdee4;
    margin: -55px 0px 0 225px;
    z-index: 9!important;
    margin-bottom: 10px;
}

/* - */

a.phonelink {
    color: #000;
    text-decoration: none;
}a.linkslider {
    position: relative;
    float: right;
    color: #fff;
    text-decoration: none;
}

.ext-menu > li {
  float: left;
  padding: 30px 19px;
}
.nav>li>a:link {
  transition:0.2s!important;
}
ul.nav.menu li {
  padding: 5px 0 5px 40px;
  transition:0.2s!important;
}
ul.nav.menu >li>a:link {

  transition:0.2s!important;
}
ul.nav.menu >li>a:hover, ul.nav.menu >li>a:focus {
    color: #FFF000!important;
  background:none!important;
  transition:0.2s!important;
}
.nav>li>a:hover, .nav>li>a:focus {
    color: #FFFFFF!important;
  background:none!important;
  transition:0.2s!important;
}article.copyright {
  position: absolute;
  color: #ADBCC0;
  margin-top: 7px;
}
article.searchmodule {
    margin-top: 30vh;
    width: 960px;
    margin: 0 auto;
}
span.icon-searchtop {
    padding: 45px 0 0 55px;
}
span.iconsearch2 {
    font-size: 100px!important;
    margin-bottom: 50px;
    color: #fff;
}

input#mod-search-searchword {
    border: 2px solid #00b6e1;
    background: none;
    border-radius: 0;
    font-style: italic;
    color: #fff!important;
    padding: 15px 15px;
    width: 320px;
}

button.button.btn.btn-primary {
    color: #fff;
    background: #00b6e1;
    border-radius: 0;
    text-shadow: none;
    border: 0;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 13px;
    padding: 17px;
    margin-left: -5px;
}
.search-search {
}

span.icon-youtube, span.icon-twitter {
    margin: 0px 10px;
    font-size: 33px;
    color: #ADBCC0;
  transition:0.2s;
}

span.icon-youtube:hover, span.icon-twitter:hover {
    color: #00afe0;transition:0.2s;
}
footer#footerInner {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  height: 80px;
}

a.linkprod {
    background: rgba(0, 175, 224, 0.95);
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 15px 35px;
    text-decoration: none;
}

article.link {
    overflow: hidden;
    opacity: 0;
    transition: 0.2s;
    height: 300px!important;
}

article.link:hover {
    overflow: visible;
    position: relative;
    display: block;
    opacity: 1;
    line-height: inherit;
}

article.icotobottom {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}.icobotom {
    position: absolute;
    margin-left: 450px;
}span.tsiht {
  margin-top: 650px;
  margin-top: 80vh;
  z-index: 999;
  color: #fff000;
  position: relative;
  font-size: 77px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icobbb {
  margin: 20px 0;
  margin-bottom: 40px;
}
span.marginbbb {
  color: #f5645b;
  background: none;
  font-size: 77px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
section#product {
  position: relative;
  z-index: 9999;
  width: 960px;
  margin: 0 auto;
  height: 300px;
}
.prod1:hover { 
 background: url(/images/bbrauncatalog-active.jpg);    background-size: cover;
}
.prod2:hover { 
 background: url(/images/bowacatalog-active.jpg);    background-size: cover;
}
.prod3:hover { 
 background: url(/images/bioliteccatalog-active.jpg);    background-size: cover;
}
.prod1 {
  background: url(/images/bbrauncatalog.jpg);
  background-size: cover;
  width: 320px;
  height: 300px;
  float: left;
  text-align: center;    line-height: 300px;
  transition: 0.2s;
  visibility: hidden;
}
.prod2 {
  background: url(/images/bowacatalog.jpg);    background-size: cover;
  width: 320px;
  height: 300px;
  float: left;
  text-align: center;    line-height: 300px;
  transition: 0.5s;
   visibility: hidden;
}
.prod3 {
  background: url(/images/bioliteccatalog.jpg);    background-size: cover;
  width: 320px;
  height: 300px;
  float: left;
  text-align: center;    line-height: 300px;
  transition: 0.5s;
   visibility: hidden;
}
.cb-slideshow li div h3 {
    font-size: 70px;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;    font-weight: 700;
}
.cb-slideshow li div h4 {
    font-size: 19px;
    font-weight: 100;
    color: #fff;
    line-height: 22px;
}
.cb-slideshow li div h5 {
    font-size: 13px;
    font-weight: 300;
    float: right;
    padding: 10px 25px;
    border: 2px solid #fff;
    margin-top: 10px;
    margin-left: 200px;
    color: #fff;
}
article.blockslide {
    position: absolute;
    top: 40vh;
    margin-left: 508px;
    width: 420px;
}

article.titleslide {
}

article.buttonslide {}

article.buttonslide {}
section#captionsslider {
    width: 960px;
    margin: 0 auto;
    z-index: 8;
}
article.shto {
    padding-left: 18px;
}
article.icotime {
    float: left;    
    padding-right: 10px;
}

p.info {
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
}
.customphone {
    padding: 40px 0 0 50px;
}
article.icophone {
    float: left;
    padding-right: 10px;
}

span.icon-phone {
      font-size: 35px;
      padding-bottom: 0px;
      padding-top: 10px;
      color: #00afe0;
}

p.number {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 0;
}

span.icon-clock2 {
    font-size: 18px;
    color: #00afe0;
}
span.searchtwo {
    font-size: 30px!important;
    padding: 23px 0px 0px 37px!important;
    color: #fff;
}
p.search-title {    color: #fff;    padding: 10px 10px 10px 53px;
}p.search-titletwo {    color: #fff;
    opacity: 0;    padding-left: 30px;    padding-top: 15px;}
ul.nav.menu {
  margin-top: 20px;
}


ul.nav.menu a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;    font-weight: 700;
    font-size: 16px;
    transition: 0.2s!important;
}

span.icon-searchtop {
    background: none;
    font-size: 40px;
    color: #fff;
}

span.icon-logotype {
    font-size: 100px;
    text-align: center;
}

img.logotype {
    width: 65%;
    padding: 30px 0 25px 40px;
}

body{min-width:960px;overflow-x: hidden;}

header#headerInner {
    height: 800px;
    height: 100vh; 
    background-size: cover;
    z-index: 1;
}

section#toppanel {
    width: 960px;
    margin: 0 auto;
    z-index: 10;
    position: relative;
}

article.logotype {
    width: 230px;
    float: left;
    background: #fff;
}

nav.nav {
    width: 270px;    float: left;
    background: #00afe0;
    height: 160px;
}

article.search {
    width: 150px;    float: left;
    background: #00afe0;    height: 160px;
}
.imageboxcategory {
    height: 190px;
}
article.phones {
    width: 310px;    float: left;
    background: #fff;    height: 160px;
}
div.sigplus-gallery ul>li>img, div.sigplus-gallery ul>li>a>img {
  margin: 0vw!important;
  border: 0 none transparent!important;
  padding: 0!important;
  width: 130px!important;
  margin-bottom: 15px!important;
  margin-right: 15px!important;
}