@import 'reset.css';
@import 'text.css';
input#capcha-form {
  min-width: 150px!important;
  height: 55px!important;
}
.chzn-container-single .chzn-single {
    border-radius: 0px;
    background-color: #fff  !important;
    background: #000        !important;
    /*box-shadow: 0 0 30px white inset, 0 1px 10px rgba(0, 0, 0, 0.05);*/
    box-shadow: 0 0;
    color: #e77300;
}
.btn-group+.btn-group {
  margin-left: 0px;
}

input#search-searchword {
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 10px 15px;
  color: #fff !important;
  border-radius: 0;
  padding: 10px 15px;
  border-color: #e77300 !important;
  min-width: 400px;
}
div#mobile_version_include {
  display:none;
}
.web-img {
  width: 30%;
  /*float: left!important;
  margin: 5px 10px 5px 0px;*/
}
span.asterisk {
  display: none;
}
div#b2jcontainer_c186 .control-group.error input, div#b2jcontainer_c186 .control-group.error select, div#b2jcontainer_c186 .control-group.error textarea, div#b2jcontainer_c186 .control-group.error a.chzn-single {
  border-color: #f80000 !important;
}
input::-webkit-input-placeholder { color: #898989!important; }
input::-moz-placeholder { color: #898989!important; }
textarea::-webkit-input-placeholder { color: #898989!important; }
textarea::-moz-placeholder { color: #898989!important; }
a.bob {
  font-weight: 600;
  text-decoration: underline;
  color: #e77300;
}.videofloat {
  width: 150px;
  float: left;
}h4.result-title a {
  text-decoration: underline;
}
ul.search-results.list-striped li {
  padding: 20px 0;
}
.dmn {
  width: 136px;
  height: 102px;
  /* background: #000; */
  position: absolute;
  z-index: 9999;
  margin-top: -115px;
}

.avVideo .avPlayerContainer .avPlayerBlock {
  width: auto!important;
  height: 130px!important;
  position: relative!important;
  padding:0!important;
}
.avVideo .avPlayerContainer .avPlayerBlock iframe, .avVideo .avPlayerContainer .avPlayerBlock object, .avVideo .avPlayerContainer .avPlayerBlock embed, .avVideo .avPlayerContainer .avPlayerBlock video, .avVideo .avPlayerContainer .avPlayerBlock > div {
  position: absolute!important;
  top: 0;
  left: 0;
  min-width: 0px!important;
  width: 135px!important;
  height: 102px!important;
  margin-top:15px;
}
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
span.title_news {
  line-height: 115%;
}

.list-striped, .row-striped {
  list-style: none;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  border-top: 0px solid #ddd;
  margin-left: 0;
  margin-top: 20px;
}
.bowa-header h2{
font-family: 'Open Sans Condensed', sans-serif!important;
font-size: 285%!important;
text-align: left!important;
}
#search-query-explained {
  padding: 15px 0;
  border-bottom: 1px solid #dfe6e8;
}
div.modal.fade.in {
  top: 0!important;
  /* box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.03); */
}
.modal-body{
padding: 0;
/* height: 100%; */
}
form#finder-search {
    margin-top: 50px;
}
div.sigplus-gallery ul>li>img, div.sigplus-gallery ul>li>a>img {
  margin: 0.3vw!important;
  border: 0 none transparent!important;
  padding: 0!important;
  width: 10.5vw!important;
}
.sigplus-gallery {
    margin-top: 1vw!important;
}
div#mep_0 {
  display: none;
  overflow: hidden;
  left: -9999px;
  position: absolute;
  opacity: 0;
}
input, button, select, textarea {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
    font-weight:100;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;    
    font-size: 37px;    
    font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

a {
  color: #e77300;
  transition: 0.2s;
}

a:hover {
    color: #e77300;
    transition: 0.2s;
    text-decoration: none;
}

a:focus {
    color: #e77300;
}

small {
  font-size: 11px;
}

/* `Misc Classes
----------------------------------------------------------------------------------------------------*/

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

/* `Data Table
----------------------------------------------------------------------------------------------------*/

.data,
.data th,
.data td {
  border-style: solid;
  border-color: #ddd;
}

.data {
  border-width: 0 1px 1px;
  width: 100%;
}

.data caption {
  padding: 0 10px 5px;
  text-transform: uppercase;
}

.data th,
.data td {
  border-top-width: 1px;
  padding: 5px 10px;
}

.data th {
  white-space: nowrap;
}

.data thead th {
  background: #eee;
  font-weight: bold;
  text-shadow: #fff 0 1px 0;
}

.data tbody th {
  width: 1px;
}

.data tr th:first-child {
  text-align: right;
}
.rokbox-wrapper .rokbox-outer .rokbox-row .rokbox-inner .rokbox-container {
  margin: 20px 40px;
  display: inline-block;
  outline: medium none;
  text-align: left;
  position: relative;
  background: none!important;
  min-width: 100px;
  min-height: 100px;
  max-width: 1200px;
  border-radius: 6px;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  -webkit-background-clip: none!important;
  -moz-background-clip: none!important;
  background-clip: none!important;
  vertical-align: middle;
}
.rokbox-wrapper {
  background-color: rgba(0, 103, 138, 0.95);
}
.rokbox-wrapper .rokbox-outer .rokbox-row .rokbox-inner .rokbox-container.rokbox-type-element .rokbox-content .rokbox-content-element {
  padding: 15px;
  background: none!important;
  text-align: center;
}

.rokbox-wrapper .rokbox-outer .rokbox-row .rokbox-inner .rokbox-container .rokbox-controls div {
  position: absolute;
  cursor: pointer;
  display: block;
  font-size: 5vh;
  color: #fff;
  text-align: center;
  text-shadow: none!important;
}
/* `Code
----------------------------------------------------------------------------------------------------*/

pre,
code {
  font-size: 12px;
  font-family: Menlo, Courier, monospace;
}

pre,
.notice {
  background: #ffe;
  border: 1px solid;
  border-color: #eed #ccb #bba #ddc;
  overflow: auto;
  padding: 10px 0 10px 10px;
}

* html pre {
  overflow: hidden;
  width: 97%;
}

code {
  background: #ff9;
  padding: 0 2px;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon2.eot?ws8kwe');
	src:url('../fonts/icomoon2.eot?#iefixws8kwe') format('embedded-opentype'),
		url('../fonts/icomoon2.woff?ws8kwe') format('woff'),
		url('../fonts/icomoon2.ttf?ws8kwe') format('truetype'),
		url('../fonts/icomoon2.svg?ws8kwe#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ws8kwe');
	src:url('../fonts/icomoon.eot?#iefixws8kwe') format('embedded-opentype'),
		url('../fonts/icomoon.woff?ws8kwe') format('woff'),
		url('../fonts/icomoon.ttf?ws8kwe') format('truetype'),
		url('../fonts/icomoon.svg?ws8kwe#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: auto;    
	height: auto;    
	margin-top: auto;
	background-image: none!important;
}


.icon-add-to-list:before {
	content: "\e600";
}

.icon-circle-with-cross:before {
	content: "\e601";
}

.icon-pointer:before {
	content: "\e602";
}

.icon-cancel:before {
	content: "\e603";
}

.icon-arrow-back:before {
	content: "\e604";
}

.icon-phone:before {
	content: "\e616";
}

.icon-chevron-down:before {
	content: "\f0a3";
}


.icon-logotype .path1:before {
	content: "\e600";
	color: rgb(83, 171, 220);
}
.icon-logotype .path2:before {
	content: "\e601";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path3:before {
	content: "\e602";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path4:before {
	content: "\e603";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path5:before {
	content: "\e604";
	margin-left: -1.4150390625em;
	color: rgb(215, 99, 92);
}
.icon-logotype .path6:before {
	content: "\e605";
	margin-left: -1.4150390625em;
	color: rgb(215, 99, 92);
}
.icon-logotype .path7:before {
	content: "\e606";
	margin-left: -1.4150390625em;
	color: rgb(215, 99, 92);
}
.icon-logotype .path8:before {
	content: "\e607";
	margin-left: -1.4150390625em;
	color: rgb(215, 99, 92);
}
.icon-logotype .path9:before {
	content: "\e608";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path10:before {
	content: "\e609";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path11:before {
	content: "\e60a";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path12:before {
	content: "\e60b";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path13:before {
	content: "\e60c";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path14:before {
	content: "\e60d";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path15:before {
	content: "\e60e";
	margin-left: -1.4150390625em;
	color: rgb(215, 99, 92);
}
.icon-logotype .path16:before {
	content: "\e60f";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path17:before {
	content: "\e610";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}

.icon-youtube:before {
	content: "\e611";
}

.icon-twitter:before {
	content: "\e612";
}

.icon-search2:before {
	content: "\e613";
}

.icon-menu:before {
	content: "\e614";
}

.icon-winsows:before {
	content: "\e615";
}

.icon-phone:before {
	content: "\e616";
}

.icon-phone-hang-up:before {
	content: "\e617";
}

.icon-location:before {
	content: "\e618";
}

.icon-location2:before {
	content: "\e619";
}

.icon-arrow-up-right:before {
	content: "\e61a";
}

.icon-arrow-right:before {
	content: "\e61b";
}

.icon-arrow-down-right:before {
	content: "\e61c";
}

.icon-google:before {
	content: "\e61d";
}

.icon-googleplus:before {
	content: "\e61e";
}

.icon-facebook:before {
	content: "\e61f";
}

.icon-facebook2:before {
	content: "\e620";
}

.icon-location3:before {
	content: "\f060";
}

.icon-controller-play:before {
	content: "\e621";
}

.icon-layers:before {
	content: "\e622";
}

.icon-attachment:before {
	content: "\e623";
}

.icon-awareness-ribbon:before {
	content: "\e624";
}

.icon-blackboard:before {
	content: "\e625";
}

.icon-brush:before {
	content: "\e626";
}

.icon-calculator:before {
	content: "\e627";
}

.icon-camera:before {
	content: "\e628";
}

.icon-clock:before {
	content: "\e629";
}

.icon-code:before {
	content: "\e62a";
}

.icon-direction:before {
	content: "\e62b";
}

.icon-edit:before {
	content: "\e62c";
}

.icon-emoji-happy:before {
	content: "\e62d";
}

.icon-emoji-neutral:before {
	content: "\e62e";
}

.icon-emoji-sad:before {
	content: "\e62f";
}

.icon-eye:before {
	content: "\e630";
}

.icon-feather:before {
	content: "\e631";
}

.icon-flag:before {
	content: "\e632";
}

.icon-folder-images:before {
	content: "\e633";
}

.icon-folder-video:before {
	content: "\e634";
}

.icon-graduation-cap:before {
	content: "\e635";
}

.icon-heart:before {
	content: "\e636";
}

.icon-image-inverted:before {
	content: "\e637";
}

.icon-image:before {
	content: "\e638";
}

.icon-images:before {
	content: "\e639";
}

.icon-leaf:before {
	content: "\e63a";
}

.icon-location-pin:before {
	content: "\e63b";
}

.icon-location4:before {
	content: "\e63c";
}

.icon-mail:before {
	content: "\e63d";
}

.icon-man:before {
	content: "\e63e";
}

.icon-mask:before {
	content: "\e63f";
}

.icon-medal:before {
	content: "\e640";
}

.icon-megaphone:before {
	content: "\e641";
}

.icon-message:before {
	content: "\e642";
}

.icon-mic:before {
	content: "\e643";
}

.icon-mouse:before {
	content: "\e644";
}

.icon-price-tag:before {
	content: "\e645";
}

.icon-print:before {
	content: "\e646";
}

.icon-rocket:before {
	content: "\e647";
}

.icon-shop:before {
	content: "\e648";
}

.icon-shopping-bag:before {
	content: "\e649";
}

.icon-star:before {
	content: "\e64a";
}

.icon-stopwatch:before {
	content: "\e64b";
}

.icon-thumbs-down:before {
	content: "\e64c";
}

.icon-thumbs-up:before {
	content: "\e64d";
}

.icon-tools:before {
	content: "\e64e";
}

.icon-video:before {
	content: "\e64f";
}

.icon-renren:before {
	content: "\e650";
}

.icon-scribd:before {
	content: "\e651";
}

.icon-skype:before {
	content: "\e652";
}

.icon-slideshare:before {
	content: "\e653";
}

.icon-swarm:before {
	content: "\e654";
}

.icon-vk:before {
	content: "\e655";
}

.icon-google2:before {
	content: "\e656";
}

.icon-twitter2:before {
	content: "\e657";
}

.icon-youtube2:before {
	content: "\e658";
}

.icon-camera2:before {
	content: "\e659";
}

.icon-direction2:before {
	content: "\e65a";
}

.icon-pin:before {
	content: "\e65b";
}

.icon-search:before {
	content: "\f002";
}

.icon-angle-right:before {
	content: "\f105";
}

.icon-long-arrow-right:before {
	content: "\f178";
}

.icon-chevron-right:before {
	content: "\e65c";
}

.icon-chevron-right-outline:before {
	content: "\e65d";
}

.icon-location5:before {
	content: "\e070";
}

.icon-map:before {
	content: "\e072";
}

.icon-clock2:before {
	content: "\e65e";
}

#boxplus .boxplus-background {
  background-color: rgba(0, 0, 0, 0.95)!important;
}
/* Поиск */
.btn{padding: 5px 12px;opacity:1!important}
.btn:hover {
    background:#e77300 !important;
}

.btn, .btn-primary{
background-color: #e77300 !important;
background-image:none !important;
border: 0px!important;
border-radius: 0;
text-shadow: none;
text-transform: uppercase;
font-size: 12px;
padding: 11px 20px;
margin-left: -5px;
cursor: pointer!important;
}
#finder-search label {display:none!important;}
#finder-search input {color:black!important;border-radius: 0;padding: 10px 15px;border-color: #00b3e2!important;min-width: 400px;}
.list-striped li {border:0px!important;}
.list-striped li:nth-child(odd){background-color:#000!important;}
.list-striped li:hover, .list-striped dd:hover, .row-striped .row:hover, .row-striped .row-fluid:hover {
background-color: #fff!important;
}
.result-title {margin-bottom: 5px;margin-top: 15px;font-size: 110%;text-decoration: underline;}
.result-text {
    margin:0;
    padding-bottom: 20px;
    padding-top: 10px;
}
span.icon-white {display:none!important;}
.modal-backdrop {
background-color: rgba(255, 255, 255, 0.85);
}
.modal-title {font-size:170%; font-weight:700;text-align:center;margin: 20px 0 25px;font-family: 'Open Sans Condensed', sans-serif;}
.choose {text-align: center;margin-bottom: 20px;font-size: 110%;}
.modal-link {text-align:center;padding-bottom: 10px;}
.modal-link a {font-size: 110%;display: inline-table;border-bottom:1px solid #000;margin: 8px 0;font-weight: 700;}
.modal-link a:hover {border-bottom: 1px solid #00b3e2;;}

.popup {
margin: 0 auto;
position: relative;
background: #fff;
display: block;
box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.03);
padding: 15px 25px;
margin-top: 10%;
margin-bottom: 2%;
}
div.modal {
position: fixed;
top:0;
left: 0;
z-index: 1050;
width: 100%;
overflow: hidden;
margin-left: 0px;
}
.imageboxcategory {opacity: 1;}
.imageboxcategory:hover {opacity:0.7;}
.fright {float:right;}
.focus-none {outline: 0!important;text-decoration: none!important;}
.mobilemenu {display:block;}
#search-query-explained a {text-decoration:underline;}
.tooltip2 {
    z-index:9999;
    left:-9999px;
    top:-9999px;
    background:#fff;
    font-size:inherit;
    color:#323232;
    padding:10px 15px;
    position:absolute;
    background:#fff;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.07);
}
.tooltip2 p {
    margin: 0px;
    padding: 0px;
}
.counter {display:none}
.pagination {
margin: 0;
text-align: center;
clear: both;
padding-top: 40px;
}
.stext {border-left: 5px solid;
  padding-left: 10px;
  font-weight: 600;
font-style: oblique;}
.shara {
padding-top: 30px;
text-align: center!important;
clear: both;
float:none!important;
}
.rmore {clear: both;padding-top: 3%;}

a.readmorembgtp {
  text-align: center!important;
  text-transform: uppercase!important;
  font-weight: 600!important;
  border: 1px solid #e77300!important;
  color: #ffffff!important;
  padding: 7px 20px;
  font-size: 77%;
  opacity: 0.7;
}
a.readmorembgtp:hover {
  text-align: center!important;
  text-transform: uppercase!important;
  font-weight: 600!important;
  border: 1px solid #e77300!important;
  color: #e77300!important;
  padding: 7px 20px;
  font-size: 77%;
  opacity: 1;
}
.jcemediabox-zoom-link {display:none!important;}

form#svyaz input[type="text"]:hover, form#svyaz textarea:hover, form#svyaz input[type="text"]:focus,  form#svyaz textarea:focus, form#svyaz input[type="tel"]:focus, form#svyaz input[type="tel"]:hover {background-color: #f9f9f9; box-shadow: 0 0 3px 0 #c2c2c2; border-color: #CECECE;}

/*
    Custom
*/
.ext-menu li {
    height: 80px;
}

#procedure-section {
    background: #000 none repeat scroll 0 0;
    overflow: hidden;
    display: none;
}

section {
    padding: 70px 0 80px;
    position: relative;
    z-index: 8;
}

.procedure {
    display: table;
}

.procedure-box {
    display: table-cell;
    float: none;
    position: relative;
    vertical-align: top;
}

.procedure-box span {
    background: #fff;
    border-radius: 50%;
    display: block;
    height: 220px;
    margin: 0 auto 30px;
    width: 220px;
}

.img-circle {
    border: 1px solid #e77300;
}

.img-circle.img-responsive {
    padding-top: 0px;
    padding-left: 0px;
    height: 220px;
    width: 220px;
}

p a:hover {
    color: #e77300;
    text-decoration: underline;
}

.tag-category {
    width: 100%;
}

.tag-category #adminForm {
    width: 25%;
    float: left;
}

.tag-content {
    width: 75%;
}

.disciplines {
    /*border-bottom: 1px solid #e77300;*/
    /*border-top: 1px solid #e77300;*/
    float: left;
    width: 25%;
}

.thumbnails {
    /*border-bottom: 1px solid #e77300;*/
    /*border-right: 1px solid #e77300;*/
    width: 85%;
    margin-top: 20px;
    display: inline-block;
    float: left;
}

.items {
    display: inline-block;
    /*border-left: 1px solid #e77300;*/
    width: 70%;
    padding-left: 0px;
    margin-left: 20;
    margin-bottom: 0;
}
.items .boxcategory {
    width: 25%;
}

.items .titleboxcategory {
    width: 100%;
}

.items > li {
    display: inline-block;
    width: 33%;
}

.items > li:first-of-type {
    margin-left: 0px !important;
}

.items > li:last-of-type {
    margin-left: 2px;
}
.items > h3 {
    width: 10%;
}

.disciplines .imageboxcategory img {
    width: 100%;
}

.items .boxcategory {
    margin-right: 1px;
    width: 32%;
    margin-left: 10px;
    float: left;
}
.disciplines .arrowbox {
    margin: -55px 0 0 215px;
}

.thumbnails a:hover {
    color: #e77300;
}

.categories-list li {
    padding-left: 1%;
    padding-right: 1%;
    width: 50%;
}

.categories-list .category-desc img {
    width: 100%;
    height: 400px;
}

.categories-list .category-desc > .boxcategory {
    width: 100%;
}

.categories-list .category-desc .titleboxcategory {
    width: 100%;
}

.categories-list .category-desc .arrowbox {
    float: right;
}

.categories-list .category-desc span.captiontitlebox {
    font-size: 20px;
}

div.categories-three-list li {
    float: left;
}

.categories-three-list img {
    width: 100%;
}

.categories-three-list .titleboxcategory {
    width: 100%;
}

.categories-three-list .titleboxcategorybwh {
    width: 100%;
}

/*  Menu    */
.second li {
    height: 55px;
}

.second ul {
    border-top-width: 0 !important;
    min-width: 10%;
    white-space: nowrap;
}

ul.second li ul li ul {
    padding: 0px;
}

ul.second li ul li ul li {
    height: 56px;
}

/*  Categories */
.thumbnails h3 {
    font-size: 19px;
}

.no-items.default-text {
    padding-top: 17px;
}

.disciplines-width-100 {
    float: left;
    width: 100%;
}
.items-width-25 {
    width: 25%;
}

.items-width-75 {
    width: 25%;
}

.thumbnails-width-25 {
    width: 22%;
    margin-right: 30px;
}

.thumbnails-width-75 {
    width: 75%;
}
.category-tab-content {
    /*background: #000 none repeat scroll 0 0;*/
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px
}

.nav-tabs-custom > .nav-tabs {
    border-bottom-color: #e77300;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0;
}

.nav-tabs-custom {
    /*background: #fff none repeat scroll 0 0;*/
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.nav-tabs-custom > .nav-tabs > li {
    border-top: 3px solid transparent;
    /*margin-bottom: -2px;*/
    margin-right: 5px;
}

.category-tab-content > .tab-pane {
    display: none;
}
.category-tab-content > .active {
    display: block;
}
.rgsdescription {
    max-width: 50%;
}

.items li.active > a {
    background-color: #000 !important;
    border-bottom: 1px solid #fff;
    border-color: #e77300;
    color: #fff;
}

.items li.active > a:hover {
    color: #e77300;
    border-color: #e77300;
}

.b2j_captcha_img {
    height: 55px;
    border: 1px solid #e77300;
}

.alert.alert-error {
    background-color: #000 !important;
    border-color: #f80000 !important;
    color: #fff !important;
    text-shadow: 0 0 !important;
}

.tooltip.fade.top.in {

}

.chzn-container .chzn-drop {
    background-color: #000  !important;
}

.search-results {
    padding-top: 10px;
}

dl.search-results {
    border-bottom: 1px solid #e77300;
    border-top: 1px solid #e77300;
    margin-top: 30px;
    padding-top: 0;
}

.sub-first-last {
    /*border-bottom: 1px solid #e77300;*/
}

ul.first-last:last-of-type > li {
    border-top: 1px solid #e77300;
    margin-top: -1px;
}

ul.nav-child.unstyled.small.second.first-last {
    height: -1px;
}

.cd-top {
    /*background-color: rgb(231, 115, 0);*/
    border: 1px solid #e77300;
    border-radius: 5px;
    bottom: 15px;
    display: inline-block;
    font-size: 40px;
    height: 50px;
    opacity: 0.5;
    overflow: hidden;
    position: fixed;
    right: 10px;
    /*text-indent: 100%;*/
    transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    visibility: hidden;
    white-space: nowrap;
    width: 50px;
}

.cd-is-visible {
    opacity: 1;
    visibility: visible;
}

.cd-top.cd-fade-out {
    opacity: 0.5;
}

.logotype {
    width: 160px;
    padding-top: 20px;
}

div#category-desc {
    top: -120px;
}