.itform_success_text {color:#3caa3c;}
.itform_error_text {color:#ff0000;}
.itform_empty_text {color:#6d6d6d;}
div.itform_errorMsgDiv {background:#ffcaca; border:1px solid #cacaca; position:absolute; padding:2px 7px; font-size:12px; box-shadow:10px;}
#itform_help {background:#ffffca; border:1px solid #cacaca; position:absolute; padding:2px 7px; font-size:12px; box-shadow:10px; max-width:300px;}
#itform_arrow {background:url(/common/itforms/arrow_help.png) no-repeat; width:11px; height:7px; position:absolute; top:-7px; left:30px;}


.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

.ui-widget {font-size:11px;} 
.ui-datepicker table {font-size:11px;} 
.ui-datepicker {width:220px;}  

/*Добавляем прокрутку в комбобокс*/
.ui-autocomplete { height: 300px; overflow-y: scroll; overflow-x: hidden;}

/* Переопределяем стили для фикса стрелки комбобокса */
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {padding:1px 0px;}
button.ui-button-icon-only {width:22px;}
.ui-button-icon-only .ui-icon {margin-left:-9px;}
