@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ws8kwe');
	src:url('fonts/icomoon.eot?#iefixws8kwe') format('embedded-opentype'),
		url('fonts/icomoon.woff?ws8kwe') format('woff'),
		url('fonts/icomoon.ttf?ws8kwe') format('truetype'),
		url('fonts/icomoon.svg?ws8kwe#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logotype .path1:before {
	content: "\e600";
	color: rgb(83, 171, 220);
}
.icon-logotype .path2:before {
	content: "\e601";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path3:before {
	content: "\e602";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path4:before {
	content: "\e603";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path5:before {
	content: "\e604";
	margin-left: -1.4150390625em;
	color: rgb(215, 99, 92);
}
.icon-logotype .path6:before {
	content: "\e605";
	margin-left: -1.4150390625em;
	color: rgb(215, 99, 92);
}
.icon-logotype .path7:before {
	content: "\e606";
	margin-left: -1.4150390625em;
	color: rgb(215, 99, 92);
}
.icon-logotype .path8:before {
	content: "\e607";
	margin-left: -1.4150390625em;
	color: rgb(215, 99, 92);
}
.icon-logotype .path9:before {
	content: "\e608";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path10:before {
	content: "\e609";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path11:before {
	content: "\e60a";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path12:before {
	content: "\e60b";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path13:before {
	content: "\e60c";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path14:before {
	content: "\e60d";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path15:before {
	content: "\e60e";
	margin-left: -1.4150390625em;
	color: rgb(215, 99, 92);
}
.icon-logotype .path16:before {
	content: "\e60f";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}
.icon-logotype .path17:before {
	content: "\e610";
	margin-left: -1.4150390625em;
	color: rgb(83, 171, 220);
}

.icon-youtube:before {
	content: "\e611";
}

.icon-twitter:before {
	content: "\e612";
}

.icon-search2:before {
	content: "\e613";
}

.icon-menu:before {
	content: "\e614";
}

.icon-winsows:before {
	content: "\e615";
}

.icon-phone:before {
	content: "\e616";
}

.icon-phone-hang-up:before {
	content: "\e617";
}

.icon-location:before {
	content: "\e618";
}

.icon-location2:before {
	content: "\e619";
}

.icon-arrow-up-right:before {
	content: "\e61a";
}

.icon-arrow-right:before {
	content: "\e61b";
}

.icon-arrow-down-right:before {
	content: "\e61c";
}

.icon-google:before {
	content: "\e61d";
}

.icon-googleplus:before {
	content: "\e61e";
}

.icon-facebook:before {
	content: "\e61f";
}

.icon-facebook2:before {
	content: "\e620";
}

.icon-location3:before {
	content: "\f060";
}

.icon-controller-play:before {
	content: "\e621";
}

.icon-layers:before {
	content: "\e622";
}

.icon-attachment:before {
	content: "\e623";
}

.icon-awareness-ribbon:before {
	content: "\e624";
}

.icon-blackboard:before {
	content: "\e625";
}

.icon-brush:before {
	content: "\e626";
}

.icon-calculator:before {
	content: "\e627";
}

.icon-camera:before {
	content: "\e628";
}

.icon-clock:before {
	content: "\e629";
}

.icon-code:before {
	content: "\e62a";
}

.icon-direction:before {
	content: "\e62b";
}

.icon-edit:before {
	content: "\e62c";
}

.icon-emoji-happy:before {
	content: "\e62d";
}

.icon-emoji-neutral:before {
	content: "\e62e";
}

.icon-emoji-sad:before {
	content: "\e62f";
}

.icon-eye:before {
	content: "\e630";
}

.icon-feather:before {
	content: "\e631";
}

.icon-flag:before {
	content: "\e632";
}

.icon-folder-images:before {
	content: "\e633";
}

.icon-folder-video:before {
	content: "\e634";
}

.icon-graduation-cap:before {
	content: "\e635";
}

.icon-heart:before {
	content: "\e636";
}

.icon-image-inverted:before {
	content: "\e637";
}

.icon-image:before {
	content: "\e638";
}

.icon-images:before {
	content: "\e639";
}

.icon-leaf:before {
	content: "\e63a";
}

.icon-location-pin:before {
	content: "\e63b";
}

.icon-location4:before {
	content: "\e63c";
}

.icon-mail:before {
	content: "\e63d";
}

.icon-man:before {
	content: "\e63e";
}

.icon-mask:before {
	content: "\e63f";
}

.icon-medal:before {
	content: "\e640";
}

.icon-megaphone:before {
	content: "\e641";
}

.icon-message:before {
	content: "\e642";
}

.icon-mic:before {
	content: "\e643";
}

.icon-mouse:before {
	content: "\e644";
}

.icon-price-tag:before {
	content: "\e645";
}

.icon-print:before {
	content: "\e646";
}

.icon-rocket:before {
	content: "\e647";
}

.icon-shop:before {
	content: "\e648";
}

.icon-shopping-bag:before {
	content: "\e649";
}

.icon-star:before {
	content: "\e64a";
}

.icon-stopwatch:before {
	content: "\e64b";
}

.icon-thumbs-down:before {
	content: "\e64c";
}

.icon-thumbs-up:before {
	content: "\e64d";
}

.icon-tools:before {
	content: "\e64e";
}

.icon-video:before {
	content: "\e64f";
}

.icon-renren:before {
	content: "\e650";
}

.icon-scribd:before {
	content: "\e651";
}

.icon-skype:before {
	content: "\e652";
}

.icon-slideshare:before {
	content: "\e653";
}

.icon-swarm:before {
	content: "\e654";
}

.icon-vk:before {
	content: "\e655";
}

.icon-google2:before {
	content: "\e656";
}

.icon-twitter2:before {
	content: "\e657";
}

.icon-youtube2:before {
	content: "\e658";
}

.icon-camera2:before {
	content: "\e659";
}

.icon-direction2:before {
	content: "\e65a";
}

.icon-pin:before {
	content: "\e65b";
}

.icon-search:before {
	content: "\f002";
}

.icon-angle-right:before {
	content: "\f105";
}

.icon-long-arrow-right:before {
	content: "\f178";
}

.icon-chevron-right:before {
	content: "\e65c";
}

.icon-chevron-right-outline:before {
	content: "\e65d";
}

.icon-location5:before {
	content: "\e070";
}

.icon-map:before {
	content: "\e072";
}

.icon-clock2:before {
	content: "\e65e";
}

